@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fortawesome/fontawesome-svg-core/styles.css";
@import "typeface-montserrat";

:root {
  --background: #ffffff; /* Light mode background */
  --foreground: #171717; /* Light mode text color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a; /* Dark mode background */
    --foreground: #ededed; /* Dark mode text color */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

/* For the page content when sidebar is collapsed, ensure the background is #F9F9F9 */
